//
// _color.scss
// ==================================================
// カラーの設定
//

// デザインで設計されたカラー設計を反映させ、 Tokens 層で
// CSSカスタムプロパティとして再利用することを想定した記述例。
// ※サンプルにつき、一部のみ利用しています。

@use "sass:color";

// ブランドカラーの設定
// --------------------------------------------------

$brand-color-main: #4139a6; // Tokens 層で利用
$brand-color-sub: color.mix(#fff , $brand-color-main , 75%); // Tokens 層で利用
$brand-color-accent: #ffcc00;

