//
// _size.scss
// ==================================================
// 各種サイズの設定
//

// デザインでサイズの法則が設計されている場合、こちらで計算をおこない、
// Tokens 層でCSSカスタムプロパティに反映・再利用することを想定した記述例。
// ※サンプルにつき、実際には利用していません。

// サイズ設定
// --------------------------------------------------

// ベースサイズ
$_basis: 4px;

// サイズ算出
$size-2: calc($_basis * 2); // 8px
$size-3: calc($_basis * 3); // 12px
$size-4: calc($_basis * 4); // 16px
$size-5: calc($_basis * 5); // 20px
$size-6: calc($_basis * 6); // 24px
$size-7: calc($_basis * 7); // 28px
$size-8: calc($_basis * 8); // 32px
$size-9: calc($_basis * 9); // 36px
$size-10: calc($_basis * 10); // 40px

